{
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.jsx", "**/*.tsx"],
      "rules": {},
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ]
}
